body{
    background-image: url("./assets/sandunes.avif")
};
/* type selector */
p{
    color: cadetblue;
}
/* id selectors */
#p1{
    background-color: beige;
};
/* class selectors */
.others{
    color: darkgreen;
}
/* universal selectors */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* pseudo class selector */
[href]:hover{
    color:chartreuse;
};
*{
    margin: 40px;
};